html
  head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title Reset Password
  block style 
          style 
              include ../../css/old_user_interface/TypeNewPassword.css
  body
    #formContainer
      form(action='/TypeNewPassword', method='post')
        input#npassword(type='password', name='npassword', placeholder='Enter new password')
        input#repassword(type='password', name='repassword', placeholder='Re enter new password')
        input#token(type="hidden" name='token' value=message.token)
        input#user_id(type="hidden" name='user_id' value=message.user_id)
        span#passwordmessage
        input#submitbtn(type='submit', value='Save')
    div#message 
          #{message}   
  block script 
    script  
      include ../../js/old_user_interface/TypeNewPassword.js