#recoverpassword
{
    display: block;
    width: 70%;
    align-content: center;
    margin: auto;
    background-image: linear-gradient(#1b324a,black);
    border: 2px solid white;
    border-radius: 1.5rem;
}
form
{
    padding-top: 1rem;
    display: block;
    width: 50%;
    margin: auto;
    
}
form input
{
    display: block;
margin: auto;
width: 100%;
border-radius: 5px;
margin-top: 4%;
height: 5vh;
border:2px solid black;
}
#submit
{
    width: 100px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(#1b324a,black);
    color: white;
    outline:solid #0ba1e1;
    cursor: pointer;
}
#message
{
    display: block;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    border: 0.5px dashed white;
    color: white;
}
@media (max-width:800px)
{
    form {
        padding-top: 1rem;
        display: block;
        width: 70%;
        margin: auto;
    }
}