extends base.pug
block style 
    style 
        include ../../css/public/base.css
        include ../../css/public/forgotpassword.css
block content 
    #recoverpassword 
        form(action='/forgotpassword', method='post')
            input#email(type='email', name='email', placeholder='Enter your Email id', required)
            input#submit(type='submit', name='fsubmit',value='Send Link')
    div#message
       #{message} 
