extends base.pug
block style 
     style
        include ../../css/public/base.css
        include ../../css/public/ourservices.css 
block content 
    #aboutus 
        p  Our Company Will Be World's most popular Company For Chatting To The Random Persons 
        p Join us and Be Befikar 
block script 
    script 
      include ../../js/public/ourservices.js
